doctype html
html
  head
    title Sadik Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block  content
    block#footer
      | Copyright © 2021 SadikDanceAcademy.com | All Rights Reserved