h1{
      text-align: center;
      margin: 12px 0;
}

.myForm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.myInput{
      display: block;
      width: 40%;
      padding: 8px;
      margin: 8px;
      font-size: 16px;
      border: 2px solid rgb(128, 3, 3);
      border-radius: 4px;
      outline: none;
}

.btn {
      color: white;
      padding: 4px 10px;
      font-size: 18px;
      border: 2px solid red;
      border-radius: 10px;
      background-color: black;
      cursor: pointer;
  }

.container{
      min-height: 80vh;
}